.container {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0 auto;
    max-width: 1200px;
}

.hero {
    background: linear-gradient(135deg, #1c1c1c, #383838);
    color: #fff;
    text-align: center;
    padding: 60px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.typed-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.h1 {
    font-size: 4rem;
    font-style: italic;
    font-weight: 700;
    color: #7c84f1;
    text-align: center;
    margin-bottom: 0px;
}
.subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fdf8f8;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-align: center;
}

.cta-button {
    background-color: #ff4757;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: glow 1.5s infinite alternate;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    padding: 1.7rem 3rem;
    border-radius: 0.5em;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    animation: text-pulse 1.5s infinite; 
}

.cta-button:hover {
    background-color: #e84118;
    background: #1a047e;
    box-shadow: 0px 10px 20px rgba(48, 68, 247, 0.8), 0px 0px 25px rgba(48, 68, 247, 0.4);
    transform: scale(1.05); /* Slightly enlarges the button */
    transition: 0.3s ease-in-out;
}
/* Glow animation */
@keyframes glow {
    0% {
      box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    }
    100% {
      box-shadow: 0px 10px 25px rgba(48, 68, 247, 1), 0px 0px 30px rgba(48, 68, 247, 0.8);
    }
  }
  
  /* Text pulse animation */
  @keyframes text-pulse {
    0% {
      color: #fff;
    }
    50% {
      color: #f0f0f0;
    }
    100% {
      color: #fff;
    }
  }

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search-input {
    flex: 1;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.genre-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.featured-section {
    margin-top: 20px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.movie-card {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-image {
    width: 100%;
    border-radius: 10px;
}

.movie-title {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}
